In [ ]:
# kaggle のタイタニックチュートリアルを実施してみる
# データセット:https://www.kaggle.com/c/titanic/data

import pandas as pd
import numpy as np

# googledriveをマウントする（URLをクリックして認証）
from google.colab import drive
drive.mount('/content/drive')
trainingData = pd.read_csv("/content/drive/MyDrive/mlcsv/train.csv")
testData = pd.read_csv("/content/drive/MyDrive/mlcsv/test.csv")

Mounted at /content/drive

In [ ]:
trainingData.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
# データを確認する
trainingData.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [ ]:
# なるほどわからんtestも確認する
testData.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [ ]:
testData.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

なるほどわからん

次はとりあえずデータの成形をしていく

欠損値を確認し、値を取れるものは中央値や最頻値を入れる

In [ ]:
# 欠損値を確認する
trainingData.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
testData.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

Ageは中央値が取れるので中央値を入れる

In [ ]:
trainingData['Embarked'].unique()
# inplace=True は元データを更新する 更新したくない場合、データを別の変数に代入すること！
# trainingData.dropna(subset= ['Embarked'],inplace=True) # 欠損値がある行を列指定で削除

array(['S', 'C', 'Q', nan], dtype=object)

In [ ]:
trainingData['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [ ]:
# trainingData['Age'].fillna(20)                   # Ageの欠損値を20で穴埋め
# trainingData['Age'].fillna(trainingData.mean())   # Ageの平均値で穴埋め
# trainingData['Age'].fillna(trainingData.median()) # Ageの中央値で穴埋め
# trainingData['Age'].fillna(trainingData.mode())   # Ageの最頻値で穴埋め
trainingData['Embarked'].fillna('S',inplace=True)
trainingData['Age'].fillna(trainingData['Age'].median(),inplace=True)
trainingData['Cabin'].fillna(method = 'ffill',inplace=True) # 前のデータで穴埋め

In [ ]:
testData['Fare'].fillna(testData['Fare'].median(),inplace=True)
testData['Age'].fillna(testData['Age'].median(),inplace=True)
testData['Cabin'].fillna(method = 'ffill',inplace=True) # 前のデータで穴埋め

In [ ]:
trainingData.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [ ]:
testData.isnull().sum()

PassengerId     0
Pclass          0
Name            0
Sex             0
Age             0
SibSp           0
Parch           0
Ticket          0
Fare            0
Cabin          12
Embarked        0
dtype: int64

In [ ]:
trainingData.head(15)

    PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0             1         0       3  ...   7.2500   C85         0
1             2         1       1  ...  71.2833   C85         1
2             3         1       3  ...   7.9250   C85         0
3             4         1       1  ...  53.1000  C123         0
4             5         0       3  ...   8.0500  C123         0
5             6         0       3  ...   8.4583  C123         2
6             7         0       1  ...  51.8625   E46         0
7             8         0       3  ...  21.0750   E46         0
8             9         1       3  ...  11.1333   E46         0
9            10         1       2  ...  30.0708   E46         1
10           11         1       3  ...  16.7000    G6         0
11           12         1       1  ...  26.5500  C103         0
12           13         0       3  ...   8.0500  C103         0
13           14         0       3  ...  31.2750  C103         0
14           15         0       3  ...   7.8542  C103         0

[15 rows x 12 columns]

In [ ]:
trainingData['Cabin'].fillna(method = 'bfill',inplace=True)
trainingData.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [ ]:
testData['Cabin'].fillna(method = 'bfill',inplace=True)
testData.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [ ]:
# 文字データを数値にエンコード
trainingData["Sex"][trainingData["Sex"] == "male"] = 0
trainingData["Sex"][trainingData["Sex"] == "female"] = 1
trainingData["Embarked"][trainingData["Embarked"] == "S" ] = 0
trainingData["Embarked"][trainingData["Embarked"] == "C" ] = 1
trainingData["Embarked"][trainingData["Embarked"] == "Q"] = 2
testData["Sex"][testData["Sex"] == "male"] = 0
testData["Sex"][testData["Sex"] == "female"] = 1
testData["Embarked"][testData["Embarked"] == "S" ] = 0
testData["Embarked"][testData["Embarked"] == "C" ] = 1
testData["Embarked"][testData["Embarked"] == "Q"] = 2

In [ ]:
trainingData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
feature_columns =["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]
feature_train = trainingData[feature_columns]
feature_test = testData[feature_columns]
arget_train = trainingData["Survived"]

In [ ]:
arget_train.head(15)

0     0
1     1
2     1
3     1
4     0
5     0
6     0
7     0
8     1
9     1
10    1
11    1
12    0
13    0
14    0
Name: Survived, dtype: int64

In [ ]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(feature_train, arget_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
from sklearn import metrics
pred_train = model.predict(feature_train)
metrics.accuracy_score(arget_train, pred_train)

0.9797979797979798

In [ ]:
pred_test = model.predict(feature_test)
my_prediction = pd.DataFrame(pred_test, testData["PassengerId"], columns=["Survived"])
my_prediction.to_csv("prediction.csv", index_label=["PassengerId"])

In [ ]:
from google.colab import files
files.download('prediction.csv')